{% extends 'base.html.twig' %}

{% block title %} OEP {% endblock %}

{% block body %}
    <div class="ui main text container">
        <h1 class="ui header">You are not enrolled in this course</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odit reprehenderit suscipit veritatis! A aperiam aspernatur deleniti itaque labore possimus, quae, quaerat quasi qui quod sunt temporibus, voluptas voluptate voluptates? </p>
        <div class="ui equal width grid">
            <div class="row">
                <div class="column center aligned">
                    <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odit reprehenderit suscipit veritatis! A aperiam aspernatur deleniti itaque labore possimus, quae, quaerat quasi qui quod sunt temporibus, voluptas voluptate voluptates? </p>
                    <a href="/join/{{ l }}" class="orange inverted button ui tiny">Join Course</a>
                </div>
                <div class="column center aligned">
                    <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odit reprehenderit suscipit veritatis! A aperiam aspernatur deleniti itaque labore possimus, quae, quaerat quasi qui quod sunt temporibus, voluptas voluptate voluptates? </p>
                    <a href="" class="blue inverted button ui tiny">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
